* {
  padding: 0;
  margin: 0;
}
html, body, #fullheight{
  min-height: 100%!important;
  height: 100%;
  background-color: #d6e4ff;
}

.outer-background {
  min-height: 930px;
  margin: 0 auto;
  background-color: #adc6ff;
  width: 70%;
  max-width: 1000px;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
}

p {
  padding: 100px;
  font-size: 18px;
}

.form {
  text-align: center;
  display: block;
  font-size: 18px;
}

.age{
  text-align: center;
  margin: 60px auto;
}

.age-button, .gender-button{
  height: 50px;
  width: 100px;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  float: left;
}

.submit-button{
  height: 50px;
  width: 100px;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  display: block;
}
