* {
    padding: 0;
    margin: 0;
}

html, body, #fullheight {
    height: 100%;
    background-color: #d6e4ff;
}

.outer-background {
    padding-top: 12vh;
    height: 100vh;
    width: 90vw;
    min-width: 300px;
    margin: 0 auto;
    background-color: #adc6ff;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

h4 {
    font-size: 16px;
    text-align: center;
}

p {
    padding: 3vw 10vw;
    font-size: 18px;
}

.form {
    text-align: center;
    vertical-align: center;
    display: block;
    font-size: 12px;
}

.age {
    text-align: center;
    margin: 10px auto;
}

.age-button, .gender-button {
    height: 50px;
    width: 100px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    float: left;
}

.submit-button {
    height: 50px;
    width: 100px;
    font-size: 24px;
    margin: 0 auto !important;
    text-align: center;
    vertical-align: center;
    display: block;
}

.cup-base {
    width: 100vw;
    height: 75vh;
    position: absolute;
    background: #EEE;
}

.cup {
    width: 105px;
    height: 154px;
    position: absolute;
    background-size: 100px;
    background-repeat: no-repeat;
}

.cup-0 {
    background-image: url("./image/cup.png");
}


